body{
    background-color: #DCDCDC;
}
.container-sm{
    margin-top: 1rem;
    background-color: #A9A9A9;
    padding-top: 20px;
    border-radius: 0.2rem;
    padding-bottom: 20px;
}
#main{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 0.2rem;

}
.box{
    margin-left: 20px;
    color: black;
    font-size: 100px;
    text-align: center;

}